* {
    box-sizing: border-box;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
    
  #inf_perfil{
      line-height: 30px;
      text-align: justify;
    }
  
  .h5{
      margin-block-start: 1em;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 15px;
    }
  .h2, h3{
      font-family: "Lucida Sans", sans-serif;
      font-size: 22px;
    }
.header {
    background-image: linear-gradient(to right,
    grey,lightskyblue, moccasin, lightskyblue, 
    grey, lightskyblue, moccasin, lightskyblue, grey);
    color: #ffffff;
    padding: 15px;
  }
  .menu{
    background-color:ghostwhite;
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu p {
    margin: 15px;
    padding: 0px;
  }

  .menu h5{
    margin: 10px;
  }

  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-image:linear-gradient(to right, lightskyblue, grey);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color:khaki;
  }

  #inf1 {
    font-family:cursive;
    color:black;
    font-size: 40px;
    margin: 5px;    
  }

  #infcv {
    font-family:cursive, cursive;
    font-size: 15px;
    margin: 5px;  
    margin-inline-start: 10px;  
  }

  #boton_mostrar{
    font-family: "Lucida Sans", sans-serif;
    font-size: 10px;
    color: white;
    background-color:dimgray;
    padding: 5px;
    margin-inline-start: 8px;
    border-color: white;
  }
  #boton_ocultar{
    font-family: "Lucida Sans", sans-serif;
    font-size: 10px;
    color: white;
    background-color:dimgray;
    padding: 5px;
    margin-inline-start: 8px;
    border-color: white;
  }
  #imprimir{
    font-family: "Lucida Sans", sans-serif;
    font-size: 10px;
    color: white;
    background-color:dimgray;
    padding: 5px;
    margin-inline-start: 15px;
    border-color: white;
  }
  #form_contacto{
    font-family: "Lucida Sans", sans-serif;
    font-size: 10px;
    color: white;
    background-color:dimgray;
    padding: 5px;
    margin-inline-start: 15px;
    border-color: white;
  }

  .flex-container {
    display: flex;
  }
